/* 
    Document   : styles.css
    Created on : Jul 2, 2011, 9:18:47 PM
    Author     : keegan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

p{
    text-align: left;
    padding-left:20px;
    color: #dddddd;
    font-weight: normal;
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #333366;
    background-image: url('pics/Swirls.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat-y;
    color: #ffffff;
    padding: 10px;
    margin:0px;
}
div.navitem{
    font-size: 14px;
}
hr{
    color: #ffffff;
}
a{
    text-decoration:none;
    color: #ffff00;
    text-shadow: 0px 0px 3px #000000;
}
a:hover{
    text-decoration:none;
    color: #ffffff;
}
h1{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom:0;
    margin-top: 0px;
    padding-top: 0px;
    text-shadow: 3px 3px 5px #000000;
    color: #ffffff;
}
div.navbar{
    /*background-color: #223355;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /*border-top: #9999cc solid 2px;
    border-bottom: #9999cc solid 2px;*/
}
div.top, div.mid, div.btm{
    height: 30px;
    padding: 10px;
    padding-left: 20px;
    width: 270px;
    background-color: transparent;
    background-repeat: repeat;
    color: #aaaaaa;
    text-align: left;

    margin-top: 20px;
    background-image: url('pics/top.png');
}
div.mid{
    margin: 0px;
    background-image: url('pics/mid.png');
}
div.btm{
    margin: 0px;
    background-image: url('pics/btm.png');
}

div.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    height: auto;
    padding: 0px;
    width: 300px;
    background-color: #000000;
    border: #b6b6b6 solid 1px;
    font-weight: bold;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
div.rounded div.padder{
    padding:10px;
    width: 280px;
    height: 20px;
    text-align: left;
}
div.rounded div.padderline{
    padding:10px;
    width: 280px;
    height: 20px;
    text-align: left;
    border-bottom: #b6b6b6 solid 1px;
}

input, select
{
    color: #ffffff;
    background: #000000;
    border-style: none;
    /*border: 2px outset #ffffff;*/
    float: right;
    -webkit-text-size-adjust: 140%;
    height: 20px;
    width: 150px;
}
select{
    background: #888888;
    color: #000000;
}
input.button{
    /*width: auto;*/
    border: 2px outset #ffffff;
    -webkit-text-size-adjust: 100%;
}
input.check{
    width: 20px;
    height: 20px;
    background: #888888;
    /*border: 2px outset #ffffff;*/
}

#blanket {
    background-color:#111;
    opacity: 0.65;
    filter:alpha(opacity=65);
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
}
#popUpDiv {
    position:absolute;
    width:200px;
    height:auto;
    z-index: 9002;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: #b6b6b6 solid 1px;
}
#popUpDiv .padderline, #popUpDiv .padder{
    width: 180px;
}
.floatright{
    float: right;
    font-weight: normal;
}
img {
    margin: 10px;
}

/*white version*/
body.white{
    /*background-image: url(pics/pinstripe.jpg);
    background-repeat: repeat;*/
}
body.white div.rounded{
    background-color: #ffffff;
}
body.white p, body.white div.rounded{
    color: #333333;
}
body.white div.rounded a{
    color: #0000ff;
    text-shadow: none;
}
body.white div.rounded a:hover{
    color: #ff0000;
}
body.white input{
    background-color: #ffffff;
    color: #000000;
}
body.white #popupdisabled{
    color: #eeeeee;
}
body.white #popupcancel{
    color: #cc3333;
}
body.white #popupstandard{
    color: #3333cc;
}
